<p id="notice"><%= notice %></p>

<div id="page-wrapper">
  <div id="header"> 
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>

    <p><%=@event.start_time.strftime("%B %d, %Y")%></p>
    <h1><%= @event.title %></h1>

    <p>
      Hosted by
      <%= @event.group %>
    </p>
  </div>


  <div class="row"> 

    <div class="col s8">
      
      <img src=<%=@event.image%> alt=<%=@event.title%>>

      <p>
        <h3>Details</h3>
        <%= @event.description %>
      </p>

    </div>

    <div class="col s4">
      <div class="card">
        <h3><%= @event.title %></h3>
        <p>Hosted by <%=@event_organizer%></p> 
      </div>

      <div class="card">
        <p><%=@event.start_time.strftime("%B %d, %Y")%></p>
        <p>
          <span class="material-icons-outlined">place</span>
          <%=@event.location%>
        </p>
        <p><%=@num_attendees%> attendees</p>
      </div>
      
    </div>

  </div>
</div>