<p id="notice"><%= notice %></p>

<div id="page-wrapper">
  <div id="header"> 
    <%# <%= link_to 'Edit', edit_event_path(@event) | %> 
    <div class="standard-width">

      <%= link_to events_path do %>
        <span class="material-icons">arrow_back</span>
      <% end %>

      <p><%=@event.start_time.strftime("%B %d, %Y")%></p>
      <h1><%= @event.title %></h1>

      
      Hosted by <%= link_to @event_organizer do %><span class="link"><%= @event_organizer.username %></span><% end %>
      
    </div>
  </div>


  <div class="row standard-width"> 
    <br>
    <div class="col s8">
      
      <img src=<%=@event.image%> alt=<%=@event.title%>>
      <br><br>
      <p>
        <h3>Details</h3>
        <%= @event.description %>
      </p>
      <br><br>
    </div>

    <div class="col s4 sticky">
      <% if !@event.group.nil? %>
        <div class="card">
          <%= link_to @event.group do %><h4><%= @event.group.name %></h4><% end %>
          <p>public group</p>
        </div>
      <% end %>

      <div class="card">
        <p>
          <span class="material-icons">schedule</span>
          <%=@event.start_time.strftime("%b %d %I:%M %p")%> - <%=@event.end_time.strftime("%b %d %I:%M %p")%>
        </p>
        <p>
          <span class="material-icons">place</span>
          <%=@event.location %>
        </p>
        <p>
          <i class="material-icons">person</i>
          <%=@num_attendees%> attendees
        </p>
      </div>

      <div class="group">
        <a class="btn red">
          attend
        </a>
        <a class="btn white icon-black">
          <i class="material-icons">share</i>
        </a>
        <a class="btn white icon-black">
          <i class="material-icons">star</i>
        </a>
      </div>
    </div>
  </div>
</div>