<p id="notice"><%= notice %></p>

<div id="page-wrapper">
  <div id="header"> 
    <%# <%= link_to 'Edit', edit_event_path(@event) | %> 
    <%= link_to 'Back', events_path %>

    <p><%=@event.start_time.strftime("%B %d, %Y")%></p>
    <h1><%= @event.title %></h1>

    <p>
      Hosted by
      <%= @event.group.name %>
    </p>
  </div>


  <div class="row"> 

    <div class="col s8">
      
      <img src=<%=@event.image%> alt=<%=@event.title%>>
      <br><br>
      <p>
        <h3>Details</h3>
        <%= @event.description %>
      </p>

    </div>

    <div class="col s4 sticky">
      <div class="card">
        <h3><%= @event.title %></h3>
        <p>Hosted by <%=@event_organizer.username%></p> 
      </div>

      <div class="card">
        <p>
          <span class="material-icons">schedule</span>
          <%=@event.start_time.strftime("%b %d %I:%M %p")%> - <%=@event.end_time.strftime("%b %d %I:%M %p")%>
        </p>
        <p>
          <span class="material-icons">place</span>
          <%=@event.location %>
        </p>
        <p>
          <i class="material-icons">person</i>
          <%=@num_attendees%> attendees
        </p>
      </div>

      <div class="group">
        <a class="btn white">
          attend
        </a>
        <a class="btn white">
          <i class="material-icons">share</i>
        </a>
        <a class="btn white">
          <i class="material-icons">star</i>
        </a>
      </div>
      
    </div>

  </div>
</div>