<p id="notice"><%= notice %></p>

<div id="page-wrapper">
  <div id="header"> 
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>

    <p><%=@event.start_time.strftime("%B %d, %Y")%></p>
    <h1><%= @event.title %></h1>

    <p>
      Hosted by
      <%= @event.group %>
    </p>
  </div>


  <div class="row"> 

    <div class="col s9">
      <p>
        <h3>Details</h3>
        <%= @event.description %>
      </p>

      <p>
        <strong>Limit:</strong>
        <%= @event.limit %>
      </p>
    </div>

    <div id="col s3">
      <h2><%= @event.title %></h2>
      
    </div>

  </div>
</div>